@import '@/styles/_helpers';

.homePage {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  max-width: rem(1148);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.title {
  flex-shrink: 0;
  margin-top: rem(73);
  font-size: rem(35);
  line-height: per(41, 35);
  text-align: center;
  letter-spacing: rem(3);
}

.searchInput {
  flex-shrink: 0;
  margin-top: rem(34);
}

.home {
  width: 100%;
  height: 100%;
  max-width: rem(1077);
  margin: rem(62) auto 0;
  display: flex;
  flex-direction: column;
}

.pages {
  display: flex;
  margin: rem(51) auto 0;
}

.page {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: #212121;
    opacity: 0.5;
    transition: opacity ease 0.2s;
  }

  &:hover::before {
    opacity: 0.7;
  }
}
